
<img class="wave" src="/img/login/wave.svg" alt="">

<section class="login">


    <div class=" flex items-center justify-center bg-gray-50  px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full">
          <div>
            <img class="mx-auto h-24 w-auto" src="/img/logo-light.png" alt="Workflow">
            <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-white">
              Register
            </h2>
            
          </div>
          <form class="mt-2 " action="/register" method="POST">
            <% if (messages.error) { %>
            <div class=" text-black rounded-md shadow-sm text-center bg-yellow-500 ">
              <div class="py-3 font-bold"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <%= messages.error %></div>
            </div>
          <% } %>

            <div class="rounded-md shadow-sm">
                <div class="pt-3">
                    <input aria-label="username" value="<%=messages.name %>" name="name" type="text"  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-full focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Name">
                  </div>
              <div class="py-6">
                <input aria-label="Email address" value="<%=messages.email %>" name="email" type="email"  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-full focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Email address">
              </div>
              <div class="-mt-px">
                <input aria-label="Password" name="password" type="password" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-full focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Password">
              </div>
            </div>
            <p class="mt-2 text-center text-sm leading-5 text-white">
                Already have an account ?  <br>
                <a href="/login" class="font-bold text-white hover:text-black focus:outline-none focus:underline transition ease-in-out duration-150">
                  Login
                </a>
              </p>
      
            <div class="mt-6">
              <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-black hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                  <svg class="h-5 w-5 text-white group-hover:text-indigo-400 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
                    <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                  </svg>
                </span>
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>

</section>