//colors
$primary : #E23744;
$primary-hover: #F78820;
$secondary : #f8f8f8;
$pure : #fff;
$dark: #1C1C1C;
$grey : #ccc;
$gray: rgba(204, 204, 204, 1);


$primary2: #FE5F1E;
$primary-hover2: #b23301;
$secondary2: #F8F8F8;
$pure2: #fff;
$dark2: #1C1C1C;
$gray2: rgba(70, 204, 87, 1);

//transition
$smooth: all .3s ease-in-out
